.footer {
	height: 160px;
	line-height: 160px;
	background: url('images/bg_section-12.jpg') no-repeat 0 0 / cover;
}

.copyrigt {
	font-size: 13px;
	color: #333333;
}

@media (min-width: 1230px) {
	.container {
		width: 1200px;
	}
}